{
	"hostname": "10.0.0.1",
	"port": 161,
	"community": "public",
	"timeout": 2,
    "rrd_dir": "/var/www/html/rrd_data",
    "png_dir": "/var/www/html/rrd_images",
	"interfaces": {
		"eth0": {
			"rrd_filename": "gw-ext",
			"rrd_title": "Public - Internet"
		},
		"eth1": {
			"rrd_filename": "gw-int",
			"rrd_title": "Private - Intranet"
		},
		"eth1.2": {
			"rrd_filename": "vlan2",
			"rrd_title": "VLAN 2 - DMZ"
		}
	}
}

